<p><%= flash[:success] %></p>
<p><%= flash[:error] %></p>

<%= form_tag controller: :auth, action: :create_session do %>
    <%= email_field_tag :email %> <br><br>
    <%= password_field_tag :password %> <br><br>
    <%= submit_tag 'Login' %>
<% end %>