<div class="row align-items-center w-100">
    <div class="col-md-7 col-lg-5 m-h-auto">
        <div class="card shadow-lg">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between m-b-30">
                    <img class="img-fluid" src="/panel/assets/images/logo/wanage-wide.png" alt="Logo">
                </div>
                <% if flash[:error].present? %>
                    <div class="alert alert-danger alert-dismissible fade show">
                        <%= flash[:error] %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <% elsif flash[:success].present? %>
                    <div class="alert alert-success alert-dismissible fade show">
                        <%= flash[:success] %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <% end %>
                <%= form_tag login_post_path, id: 'form-validation' do %>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="email">Email:</label>
                        <%= text_field_tag :email, {}, class: 'form-control', placeholder: 'mail@example.com', autocomplete: 'off' %>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" for="password">Password:</label>
                        <a class="float-right font-size-13 text-muted" href="">Forget Password?</a>
                        <%= password_field_tag :password, {}, class: 'form-control', placeholder: 'password' %>
                    </div>
                    <div class="form-group">
                        <div class="d-flex align-items-center justify-content-between">
                            <%= submit_tag 'Login', class: 'btn btn-primary', data: { disable_with: 'Login in...' } %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
