<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-dashboard"></i>
                    </span>
                    <span class="title">Dashboard</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <% if policy(current_user).role_admin? %>
                    <li class="<%= class_names(active: current_page?(dashboard_activity_path)) %>">
                        <%= link_to 'Activity', dashboard_activity_path, method: :get %>
                    </li>
                    <% end %>
                    <% if policy(current_user).role_supervisor? %>
                    <li class="<%= class_names(active: current_page?(dashboard_monitoring_path)) %>">
                        <%= link_to 'Monitoring', dashboard_monitoring_path, method: :get %>
                    </li>
                    <% end %>
                    <% if policy(current_user).role_employee? %>
                    <li class="<%= class_names(active: current_page?(dashboard_manage_path)) %>">
                        <%= link_to 'Manage', dashboard_manage_path, method: :get %>
                    </li>
                    <% end %>
                </ul>
            </li>
            <% if policy(current_user).role_admin? %>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-team"></i>
                    </span>
                    <span class="title">Users</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li class="<%= class_names(active: current_page?(user_new_path)) %>">
                        <%= link_to 'Create User', user_new_path, method: :get %>
                    </li>
                    <li class="<%= class_names(active: current_page?(user_management_path)) %>">
                        <%= link_to 'Management', user_management_path, method: :get %>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-idcard"></i>
                    </span>
                    <span class="title">Class</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li class="#">
                        <a href="#">Add Class</a>
                    </li>
                    <li class="#">
                        <a href="#">Add Author Class</a>
                    </li>
                    <li class="#">
                        <a href="#">Add Employee Class</a>
                    </li>
                </ul>
            </li>
            <% end %>
            <% if policy(current_user).role_supervisor? %>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-solution"></i>
                    </span>
                    <span class="title">Room</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li class="#">
                        <a href="#">Own Room</a>
                    </li>
                    <li class="#">
                        <a href="#">Manage Room</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-exception"></i>
                    </span>
                    <span class="title">Order</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li class="#">
                        <a href="#">Send Order</a>
                    </li>
                    <li class="#">
                        <a href="#">List Employee</a>
                    </li>
                </ul>
            </li>
            <% end %>
            <% if policy(current_user).role_employee? %>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-profile"></i>
                    </span>
                    <span class="title">Task</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li class="#">
                        <a href="#">New Task</a>
                    </li>
                    <li class="#">
                        <a href="#">Task Finished</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-inbox"></i>
                    </span>
                    <span class="title">Item</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li class="#">
                        <a href="#">Create Item</a>
                    </li>
                    <li class="#">
                        <a href="#">List Item</a>
                    </li>
                </ul>
            </li>
            <% end %>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-file"></i>
                    </span>
                    <span class="title">Multi Level</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li class="nav-item dropdown">
                        <a href="javascript:void(0);">
                            <span>Level 1</span>
                            <span class="arrow">
                                <i class="arrow-icon"></i>
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="">Level 2.1</a>
                            </li>
                            <li>
                                <a href="">Level 2.2</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>