<%= content_for :title, 'User Management' %>
<div class="tab-pane fade show active" id="tab-account" >
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">All User</h4>
        </div>
        <div class="card-body">
            <label >Search</label>
            <%= search_form_for @query, url: user_management_path do |s| %>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <%= s.text_field :name_cont, class: 'form-control form-control-sm', placeholder: 'name...' %>
                </div>
                <div class="form-group col-md-4">
                    <%= s.text_field :email_cont, class: 'form-control form-control-sm', placeholder: 'email...' %>
                </div>
                <div class="form-group col-md-4">
                    <%= s.submit 'Search', class: 'btn btn-primary btn-sm', data: { disable_with: "Searching..." } %>
                    <%= link_to 'Clear', request.path, class: 'btn btn-default btn-sm' %>
                </div>
            </div>
            <% end %>
            <div class="table-responsive">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col"><%= sort_link @query, :name %></th>
                            <th scope="col"><%= sort_link @query, :email %></th>
                            <th scope="col">Role</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @users.each_with_index do |user, index| %>
                        <tr>
                            <td><%= index+1 %></td>
                            <td><%= user.name.titleize %></td>
                            <td><%= user.email %></td>
                            <td><span class="badge badge-pill badge-secondary"><%= user.role.titleize%></span></td>
                            <td>
                                <%= link_to 'Edit' %>
                                <%= link_to 'Delete' %>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-end">
                <%= paginate @users %>
            </div>
        </div>
    </div>
</div>

